@font-face {
  font-family: tr2n;
  src: url('edunline.ttf');
}

body, html {
  min-height: 100%;
  background: #000;
  font-family: Helvetica, Arial;
  overflow-x: hidden;
}

#shader {
  display: block;
  background: black;
  position: fixed;
  top: -100px;
  bottom: -100px;
  right: -100px;
  left: -100px;
}

.container {
  color: #ccc;
  position: relative;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  color: #eee;
  font-weight: 700;
  line-height: 1.4em;
  /*font-family: "TR2N";*/
}

hr {
  border-color: #ccc;
  border-width: 2px;
  opacity: 0.5;
}

.answer {
  line-height: 1.7em;
  font-size: 1.3em;
}

.heading {
  margin-top: 10vh;
  font-size: 3em;
}

.question {
  margin-bottom: 5vh;
}

.container p, .container li {
  font-size: 1.3em;
  line-height: 1.7em;
}

#fade-in-overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 1;
}

#mask-svg {
  position: absolute;
}

#gradient-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  font-family: Helvetica, Arial;
  padding: 0;
  margin: 0;

  /*background:
    url('clouds.jpg'),
    linear-gradient(to right, #1B061C, #0C0C1D),
    linear-gradient(to bottom, transparent, #0C0C1D);*/

  background: url('bg.png');

  background-size: cover, cover;
  background-position: center;
  background-blend-mode: color-dodge;
  -webkit-animation: gradient 1s linear infinite;
}

#hero {
  height: 100vh;
  padding-bottom: 2em;
  width: 100%;

  position: relative;
  font-family: Helvetica, Arial;
  padding: 0;
  margin: 0;
}

#hero #hero-content {
  padding: 2em;
  z-index: 2;
  color: #00C6FF;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}

#hero #hero-content p {
  color: #8ee6ff;
  font-size: 1.5em;
  letter-spacing: 0.3em;
  text-shadow: rgba(0, 198, 255, 0.8) 0 0 0.5em,
    rgba(0, 198, 255, 0.5) 0 0 0.5em;
}

a {
  color: rgb(0, 198, 255) !important;
  text-decoration: none !important;
}

a:hover {
  border-bottom: 2px solid rgb(0, 198, 255);
}


.hero-break {
  display: none;
}

#hero #hero-content #signup-form input,
#hero #hero-content #signup-form a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: inherit;
  background: transparent;
  border: 0.125em solid rgba(0, 198, 255, 1);
  background: rgba(0, 198, 255, 0.2);
  color: rgba(0, 198, 255, 1);
  opacity: 1;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  padding: 0.8em 1.5em;
  margin: 0.8em 0.2em 0 0.2em;
  -webkit-transition: border 0.1s linear;
  color: #8ee6ff;
  box-shadow: rgba(0, 198, 255, 0.5) 0 0 0.3125em,
    inset rgba(0, 198, 255, 0.2) 0 0 0.3125em;
}

::-webkit-input-placeholder {
   color: inherit;
   opacity: 0.5;
}

#hero #hero-content #signup-form {
  padding-top: 0.5em;
}

#hero #hero-content #signup-form input {
  text-transform: uppercase;
}

#hero #hero-content #signup-form a {
  cursor: pointer;
}

#hero #hero-content #signup-form input:focus,
#hero #hero-content #signup-form a:hover {
  background: rgba(0, 198, 255, 0.3);
  border: 0.125em solid rgba(0, 198, 255, 1);
}

#hero #title {
  color: #8ee6ff;
  max-width: 100%;
  font-family: "TR2N";
  font-size: 4.3em;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0 0 0.1em 0;
  /*animation: fadein 3s linear, flicker 5s 6s infinite linear;*/
  height: 1em;
  line-height: 1em;
  position: relative;
  z-index: 2;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 1;

  text-shadow: 0 0 200px rgba(0, 198, 255, 1);
			/*1.875em 0 0 3.75em rgba(0, 198, 255, 0.4),
			0 0 6.25em rgba(0, 198, 255, 0.2),
			0 0 5.625em rgba(0, 198, 255, 0.1);*/
}

#hero #title:after {
  display: none;
  content: "WAIHACK";
  font-size: 0.988em;
  opacity: 0.3;
  line-height: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
}

#hero #title:before {
  display: none;
  content: "WAIHACK";
  font-size: 0.970em;
  opacity: 0.3;
  line-height: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  /*right: 0;*/
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: inherit;
}

@keyframes flicker {
  0% {opacity: 1;}

  15% {opacity: 1;}
  16% {opacity: 0.9;}
  15% {opacity: 1;}
  17% {opacity: 0.5;}
  18% {opacity: 1;}

  20% {opacity: 1;}
  21% {opacity: 0;}
  22% {opacity: 1;}

  25% {opacity: 1;}
  26% {opacity: 0.8;}
  27% {opacity: 1;}

  25% {opacity: 1;}
  26% {opacity: 0.8;}
  27% {opacity: 1;}

  61% {opacity: 1;}
  62% {opacity: 0.9;}
  63% {opacity: 1;}

  100% {opacity: 1;}
}

@keyframes fadein {
  0% {opacity: 0;}

  15% {opacity: 0.07;}
  16% {opacity: 0.6;}
  17% {opacity: 0;}
  18% {opacity: 0.08;}
  19% {opacity: 0.1;}

  20% {opacity: 1;}
  21% {opacity: 0;}
  22% {opacity: 0.1;}
  25% {opacity: 0.15;}
  26% {opacity: 0.5;}
  27% {opacity: 0;}
  28% {opacity: 0.1;}

  60% {opacity: 0.30;}
  61% {opacity: 1;}
  62% {opacity: 0.2;}
  63% {opacity: 0.63;}

  100% {opacity: 1;}
}


.heading {
  text-align: center;
  font-size: 2em;
  padding: 1.5em 0 1em 0;
}

.heading span {
  display: inline-block;
  padding-left: 0.3em;
  font-size: 1.3em;
  font-weight: 800 !important;
  color: #8ee6ff;
  letter-spacing: 0.2em;
  text-align: center;
  font-weight: normal;
  /*text-shadow: rgba(0, 198, 255, 0.5) 0 0 0.5em, rgba(0, 198, 255, 0.3) 0 0 0.5em;*/
  position: relative;
}

.heading span:after,
.heading span:before {
  content: "";
  /*opacity: 0.2;*/
  position: absolute;
  height: 0px;
  /*border-bottom: 1px solid #8ee6ff;*/
  /*border-top: 1px solid #8ee6ff;*/
  /*background: www.cybersecuritychallenge.org.nz;*/
  /*box-shadow: rgba(0, 198, 255, 0.5) 0 0 0.5em, rgba(0, 198, 255, 0.3) 0 0 0.5em;*/
  top: 50%;
  margin-top: -6px;
  width: 99999px;
}

.heading span:before {
  /*border-radius: 0 10px 10px 0;*/
  border-top: 12px solid #8ee6ff;
  background: transparent;
  border-right: 10px solid transparent;
  right: 100%;
  margin-right: 15px;
}
.heading span:after {
  /*border-radius: 10px 0 0 10px;*/
  left: 100%;
  border-bottom: 12px solid #8ee6ff;
  background: transparent;
  border-left: 10px solid transparent;
  margin-left: 15px;
}

table {
  font-size: 1em;
  text-align: left;
  color: #fff;
}


.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
    border: none;
}

table .time {
  width: 35%;
}

table .event {
  width: 30%;
}

table .location {
  width: 35%;
}

table td {
  vertical-align: middle !important;
}

.schedule-date {
  padding-top: 0.6em;
}

.schedule-date span {
  font-size: 1.2em;
  display: block;
  padding-left: 0.3em;
  font-weight: 800 !important;
  color: #8ee6ff;
  text-align: right;
  font-weight: normal;
  /*text-shadow: rgba(0, 198, 255, 0.5) 0 0 0.5em, rgba(0, 198, 255, 0.3) 0 0 0.5em;*/
}

.schedule-date .day,
.schedule-date .month {
  letter-spacing: 0.2em;
}


@media(max-width:991px) {
  table td {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .schedule-date {
    text-align: center;
    padding: 1em 0 0.5em 0;
  }

  .schedule-date span {
    text-align: center;
    display: inline;
    font-size: 2em !important;
    letter-spacing: normal !important;

    color: white;
    text-shadow: none;
  }

  .schedule-date .date {
    font-size: 3em !important;
    /*display: inline;*/
  }

  .schedule-date sup {
    display: inline !important;
    font-size: 0.4em;
    text-transform: uppercase;
    top: -1em;
  }
}

.schedule-date sup {
  display: none;
}

.schedule-date .date {
  letter-spacing: auto;
  font-size: 7em;
}

/*#mlh-trust-badge {
  pointer: cursor;
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 1rem;
  top: 0;
  width: 10%;
  z-index: 10000;
}*/

#gradient-background #floor {
	overflow: hidden;
  position: absolute;
  height: 55%;
  bottom: -7em;
  right: 0;
  left: 0;

  -webkit-mask-image: linear-gradient(to bottom, transparent, #fff 70%);
}

#gradient-background #floor-perspective {
  perspective: 20vh;
  perspective-origin: bottom center;
  height: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#gradient-background #floor-perspective #floor-grid {
  position: absolute;
  top: -70%;
  bottom: -2em;
  right: -50%;
  left: -50%;
  background-position: center;
  background-repeat: repeat;
  /*animation: backgroundScroll 2s linear infinite;*/
  transform: rotateX(13deg);
  font-size: 1em;

  background-position: center 0;
  background:
    linear-gradient(to bottom, transparent, rgba(255, 181, 0, 0.4) calc(0.375em * 1), rgba(251, 227, 0, 1) calc(0.375em * 1), rgba(251, 227, 0, 1) calc(0.75em * 1), rgba(255, 181, 0, 0.4) calc(0.75em * 1), transparent calc(1.125em * 1)),
    linear-gradient(to right, transparent, rgba(255, 181, 0, 0.4) calc(0.375em * 1), rgba(251, 227, 0, 1) calc(0.375em * 1), rgba(251, 227, 0, 1) calc(0.75em * 1), rgba(255, 181, 0, 0.4) calc(0.75em * 1), transparent calc(1.125em * 1));

  background-size: 4.375em 2.8125em;
}

@keyframes backgroundScroll {
	from {background-position: center calc(2 * 2.8125em);}
  to {background-position: center 0;}
}

.right {
  float: right;
}

.left {
  float: left;
}

@media (min-width: 350px) {
  #hero #title {
    font-size: 4.9em;
  }
}

@media (min-width: 370px) {
  #hero #title {
    font-size: 5em;
  }
}

@media (min-width: 400px) {
  #hero #title {
    font-size: 5.5em;
  }

  #gradient-background #floor-perspective {
    font-size: 0.6em;
  }
}

@media (min-width: 500px) {
  /*html, body {
    font-size: 10px;
  }

  footer p {
    font-size: 1.5rem;
  }*/

  #hero #title {
    font-size: 5.6rem;
  }

  #hero #hero-content #signup-form input,
  #hero #hero-content #signup-form a {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}


/*html, body {
  font-size: 10px;
}
      _   -
   /
  |
 |
\/
*/

@media (min-width: 500px) {


  /*#gradient-background, #hero {
    font-size: 10px;
  }*/

  #hero #title {
    font-size: 6.5em;
  }

  .heading {
    font-size: 3em;
  }


  #hero #title:after,
  #hero #title:before {
    display: block;
  }

  #hero #hero-content #signup-form input,
  #hero #hero-content #signup-form a {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 617px){
  #hero #hero-content #signup-form input,
  #hero #hero-content #signup-form a {
    display: inline-block;
    width: auto;
    margin: 0.2em 0.2em;
    font-size: 1.7em;
  }
}

@media (min-width: 700px){
  #hero #title {
    font-size: 9em;
  }

  #hero #hero-content #signup-form input,
  #hero #hero-content #signup-form a {
    font-size: 1.8em;
  }
}

body #hero #hero-content form #moreinformation-btn {
  display: none;
}

@media (min-width: 1100px){
  #hero {
    position: fixed;
    /*width: 50%;*/
    /*left: 0;*/
    /*transform: scale(1);*/
    /*transition: transform 0.1s linear, left 0.1s linear;*/
  }

  .second-hero {
    display: none !important;
  }

  .moreinformation #hero {
    /*transform: scale(0.6);*/
    left: -25%;
  }


  .moreinformation #shader {
    left: 50%;
    opacity: 0.8 !important;
  }

  #hero  #hero-content #signup-form a {
    display: none;
  }

  #hero  #hero-content #signup-form a#moreinformation-btn {
   display: inline-block;
  }

  .moreinformation #hero  #hero-content #signup-form a {
    display: inline-block;
  }

  .moreinformation #gradient-background #floor-perspective {
    left: -50%;
  }

  .moreinformation #gradient-background #floor-perspective #floor-grid {
    right: -100%;
    left: 0;
  }

  .moreinformation #gradient-background #floor-perspective #floor-grid {
    /*animation: backgroundScroll 1s ease 2;*/
  }

  .moreinformation #hero  #hero-content #signup-form a#moreinformation-btn {
    display: none;
  }

  .container {
    left: 100%;
    display: none;
    padding: 3em;
    padding-top: 0;
    margin: -3em 0 0 0;
    width: 50%;
  }

  .moreinformation .container {
    /*position: fixed;*/
    top: 0;
    bottom: 0;
    display: block;
    left: 50%;
    right: 0;
  }

  .container .heading span:after, .container .heading span:before {
    display: none;
  }

  .container .heading span {
    letter-spacing: normal;
    text-align: left;
    /*font-family: Montserrat;*/
    /*font-weight: 600 !important;*/
    padding: 0;
    margin: 0;
  }

  .container .heading {
    padding: 1em 0;
    /*background: rgba(0, 0, 0, 0.2);*/
    margin: 2em 0 0 0;
    font-size: 2em;
    text-align: left;
  }

  .container > br {
    display: none;
  }

  #hero #title {
    font-size: 12em;
    /*padding-left: 1em;*/
    left: 0.1em;
  }

  .moreinformation #hero #title {
    font-size: 7.5em;
  }

  .question {
    margin-bottom: 2em !important;
  }

  table {
    font-size: 1.4em;
  }

  #hero #hero-content #signup-form input,
  #hero #hero-content #signup-form a {
    font-size: 1.8em;
  }
}




#gradient-background, #hero {
  font-size: 12px;
}


#gradient-background #floor-perspective #floor-grid {
  font-size: 1em;
  background-size: 8.75em 5.625em;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .nav-tabs a {

  color: #eee;
}

.container ul.nav-tabs li a {
  color: #eee! important;
  background: transparent;
  margin-right: 5px;
  border-color: transparent;
}

.container ul.nav-tabs li.active a {
  background: #eee;
  color: #000 !important;
}

.container .nav-tabs {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
}
