@font-face {
  font-family: tr2n;
  src: url('tr2n.ttf');
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial;
  padding: 0;
  margin: 0;
  background:
    url('https://cdn.tutsplus.com/active/uploads/legacy/tuts/279_perlinNoise/Tutorial/2.jpg'),
    linear-gradient(to bottom, #0C0C1D, transparent), linear-gradient(to right, #1B061C, #0C0C1D);
  background-size: cover;
  background-blend-mode: color-dodge;;
}

#hero {
  height: 100%;
  width: 100%;
}

#hero #hero-content {
  z-index: 2;
  color: #00C6FF;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#hero #hero-content p {
  font-size: 1.5em;
  letter-spacing: 0.3em;
  text-shadow: rgba(0, 198, 255, 0.8) 0 0 5px,
    rgba(0, 198, 255, 0.5) 0 0 10px;
}


#hero #hero-content #signup-form input,
#hero #hero-content #signup-form button {
  background: transparent;
  border: 2px solid rgba(0, 198, 255, 0.8);
  background: rgba(0, 198, 255, 0.05);
  color: rgba(0, 198, 255, 0.8);
  opacity: 1;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  padding: 0.8em 1.5em;
  margin: 0.8em 0.2em 0 0.2em;
  -webkit-transition: border 0.1s linear;
  box-shadow: rgba(0, 198, 255, 0.5) 0 0 5px,
    inset rgba(0, 198, 255, 0.2) 0 0 5px;
}

#hero #hero-content #signup-form input {
  color: #fff;
  text-transform: uppercase;
}

#hero #hero-content #signup-form button {
  cursor: pointer;
}

#hero #hero-content #signup-form input:focus,
#hero #hero-content #signup-form button:hover {
  border: 2px solid rgba(0, 198, 255, 1);
}

#hero #hero-content #signup-form button:hover {
  color: rgba(0, 198, 255, 1);
  border: 2px solid rgba(0, 198, 255, 1);
}

#hero #title {
  font-family: "TR2N";
  font-size: 10em;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-animation: flicker 3s linear;
  height: 1em;
  line-height: 1em;
  position: relative;
  z-index: 2;
  font-weight: normal;
  opacity: 1;
  text-shadow: 0 0 30px rgba(0, 198, 255, 0.6),
			0 0 60px rgba(0, 198, 255, 0.4),
			0 0 100px rgba(0, 198, 255, 0.2),
			0 0 90px rgba(0, 198, 255, 0.1);
}

#hero #title:after {
  content: "TRONHACK";
  font-size: 0.992em;
  opacity: 0.3;
  line-height: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: inherit;
}

#hero #title:before {
  content: "TRONHACK";
  font-size: 0.984em;
  opacity: 0.3;
  line-height: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: inherit;
}


@keyframes flicker {
	from {
    opacity: 0;
  }


  15% {
    opacity: 0.15;
  }

  16% {
    opacity: 0.6;
  }

  17% {
    opacity: 0;
  }

  18% {
    opacity: 0.18;
  }

  19% {
    opacity: 0.19;
  }

  20% {
    opacity: 1;
  }

  21% {
    opacity: 0;
  }

  22% {
    opacity: 0.22;
  }

  25% {
    opacity: 0.25;
  }

  26% {
    opacity: 0.5;
  }

  27% {
    opacity: 0;
  }

  28% {
    opacity: 0.28;
  }

  60% {
    opacity: 0.60;
  }

  61% {
    opacity: 1;
  }

  62% {
    opacity: 0.2;
  }

  63% {
    opacity: 0.63;
  }

  to {
    opacity: 1;
  }
}

#hero #floor {
  width: 100%;
	overflow: hidden;
  position: absolute;
  height: 80%;
  bottom: 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent 50%, #fff);
}

#hero #floor-perspective {
  -webkit-perspective: 20%;
  perspective: 200px;
  height: 100%;
  overflow: hidden;
  position: relative;
  left: 50%;
  width: 120%;
  z-index: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#hero #floor-perspective #floor-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('img/grid.svg');
  background-size: 200% 200%;
  background-position: center;
  background-repeat: repeat;
  /*-webkit-filter: blur(5px);*/
  /*opacity: 0.6;*/
  -webkit-animation: backgroundScroll 10s linear infinite;
  animation: backgroundScroll 10s linear infinite;
  webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
}

#hero #floor-perspective #floor-grid,
#hero #floor-perspective #floor-grid-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: rotateX(45deg);
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, repeat, no-repeat;
  -webkit-animation: backgroundScroll 20s linear infinite;
  animation: backgroundScroll 20s linear infinite;
  -webkit-mask-position: center 100%;
}

#hero #floor-perspective #floor-grid {
  background:
    linear-gradient(to bottom, transparent 2px, rgba(255, 181, 0, 0.4) 5px, rgba(251, 227, 0, 1) 5px, rgba(251, 227, 0, 1) 7px, rgba(255, 181, 0, 0.4) 8px, transparent 11px),
    linear-gradient(to right, transparent, rgba(255, 181, 0, 0.4) 5px, rgba(251, 227, 0, 1) 5px, rgba(251, 227, 0, 1) 8px, rgba(255, 181, 0, 0.4) 8px, transparent 13px);

  background-size: 50px 20px;
}

@keyframes backgroundScroll {
	from {background-position: center 100%;}
  to {background-position: center 0;}
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  right: 0;
  opacity: 0.8;
}

footer p {
  padding: 1.5em;
  text-align: center;
  margin: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}
